.video-container {
    width: 100vw;
    height: 100%;
    max-width: 100%;
    overflow-y: hidden;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

.overlay {
    width: 100%;
    height: 101%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    background-color: rgba(2, 16, 0, 0.67);
}

video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
    z-index: inherit;
}